/* src/styles/animations.css */
@keyframes slider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-slider {
    display: flex;
    animation: slider 20s linear infinite;
}

/* Temoignage.css */
.testimonial-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.testimonial-grid {
    display: flex;
    gap: 20px;
    animation: marquee 15s linear infinite;
}

/* Ajustement pour petits écrans */
@media screen and (min-width: 320px) {
    .testimonial-grid {
        animation: marquee-sm 30s linear infinite; /* Réduire la vitesse pour les petits écrans */
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-sm {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-400%);
    }
}

@keyframes custom-fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.custom-toast-enter {
    animation: custom-fade-in 5s ease-out;
}
