/* src/styles/animations.css */
@keyframes slider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-slider {
    display: flex;
    animation: slider 10s linear infinite;
}
